:root {
    --max-content-width: 800px;
}

html, body {
    margin: 0;
    min-height: 100vh;
    background-color: transparent !important;
}

#root {
    min-height: 100vh;
}

main {
    z-index: 0;
    position: relative;
    margin: 0 auto;
    max-width: var(--max-content-width);
    min-height: 450px;
}

footer {
    margin: 0 auto;
    max-width: var(--max-content-width);

}

.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--max-content-width);
}

.header nav {
    display: flex;
    margin: 0 2rem;

}

.header nav a {
    display: flex;
    margin-right: 2rem;
}
