.header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 920px;
}

.header nav {
    display: flex;
    margin: 0 2rem;

}

.header nav a {
    display: flex;
    margin-right: 2rem;
}

main {
    z-index: 0;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    max-width: 800px;
}
footer {
    margin: 0 auto;
    max-width: 800px;
}
